[www]
listen = {{ php_fpm_listen }}
listen.allowed_clients = {{ php_fpm_listen_allowed_clients }}
listen.owner = {{ php_fpm_listen_owner }}
listen.group = {{ php_fpm_listen_group }}
user = {{ php_fpm_user }}
group = {{ php_fpm_group }}
pm = {{ php_fpm_pm }}
pm.max_children = {{ php_fpm_pm_max_children }}
pm.start_servers = {{ php_fpm_pm_start_servers }}
pm.min_spare_servers = {{ php_fpm_pm_min_spare_servers }}
pm.max_spare_servers = {{ php_fpm_pm_max_spare_servers }}
catch_workers_output = {{ php_fpm_catch_workers_output }}
slowlog = {{ php_fpm_slowlog }}
php_admin_value[session.save_handler] = {{ php_fpm_php_session_save_handler }}
php_admin_value[session.save_path] = {{ php_fpm_php_session_save_path }}
{% for config in php_fpm_php_admin_value %}
  {% for key,value in config.items() %}
    php_admin_value[{{ key }}] = {{ value }}
  {% endfor %}
{% endfor %}
{% for config in php_fpm_php_value %}
  {% for key,value in config.items() %}
    php_value[{{ key }}] = {{ value }}
  {% endfor %}
{% endfor %}
